.card {
  border: 1px solid var(--color-fg);
  border-radius: var(--border-radius);
  margin: 2rem;
}

.title {
  padding: 1rem;
  border-bottom: 1px solid var(--color-fg);
}

.content {
  padding: 2rem;
}
